@model CommercePlacer.Common.Dto.NormalisedOrder
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    <form action="/ShowItems/SaveOrder" method="post">
        <h2>Order Number : @Html.DisplayFor(m => m.OrderId) <input type="submit" value="Done" class="btn btn-default" /></h2>
        @Html.HiddenFor(m => m.OrderId)

        @if (Model.OrderDate != null)
        {
            <h4>Order Placed : @Html.DisplayFor(m => m.OrderDate))</h4>
        }
        @Html.HiddenFor(m => m.OrderId)
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="OrderStatus" class="control-label">Order Status</label>
            @Html.DropDownListFor(m => m.OrderStatus,
           CommercePlacer.Common.Helpers.EnumHelper.GetValuesForWeb(typeof(CommercePlacer.Common.Model.OrderStatus)),
           "please select one"  )
            <span asp-validation-for="OrderStatus" class="text-danger"></span>
        </div>
        <hr />

    </form>
    <h4>Cart</h4>
    @if (Model.Items.Any())
    {
    <table>
        <thead>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Price
                </td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            @foreach (var model in Model.Items)
            {
                <form action="/ShowItems/SaveEntry" method="post">
                    <tr>
                        <td>@Html.DisplayFor(m => model.Description)</td>
                        <td>@Html.EditorFor(m => model.Quantity)</td>
                        <td>@Html.DisplayFor(m => model.Price)</td>
                        <td><input type="submit" value="Save" class="btn btn-default" /></td>
                    </tr>
                </form>

            }
        </tbody>
    </table>
    }

   

    <div>
        <a href="~/ShowItems">Back</a>
    </div>

}